
.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
 
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .innerCard{
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(241, 215, 45);
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

  }
  .footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer button{
    outline: none;
    border: none;
    background-color: rgb(198, 177, 216);
    color: rgb(66, 63, 63);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 16px;
    width: 100%;
    text-align: center;

  }
  .footer button:hover{
    color: white;
    background-color:blueviolet ;
  }
  .footer p{
    font-weight: 700;
    color: #000;
  }
  .footer p span{
    font-weight: bold;
    color: rgb(155, 65, 239);
    letter-spacing: 1px;
  
    text-decoration: none;

  }
 