.container{
display:flex;
flex-direction: column;
gap: 8px;

}
label {
    display: block;
    margin-bottom: 5px;
  }
.input-container {
    margin-bottom: 20px; 
  }
  
.container label{
    font-weight: 500;
    font-size: 1rem;
    color: #4b4b4b;
}
.container input{
    width: 100%;
    border-radius: 8px;
    border:1px solid #c1bdbd;
    outline: none;
    padding: 10px 15px;
    color: #000;
}
.container input:hover{
    border-color: #3b3434;

}
.container input:focus{
    border-color:rgb(24, 24, 21);
}